.comments {
  
  &__profile {
    display: flex;
  }

  &__link {
    display: block;
    width: 50px;
    height: 50px;
  }

  &__user-photo {
    display: block;
    width: 100%;
    border-radius: 50%;
  }

  &__name-date {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
  }

  &__user-name {
    font-size: 20px;
    font-weight: 500;
  }

  &__date {
    font-size: 18px;
  }

  &__review {
    margin-top: 23px;
  }
}
