@import "variables";

.footer {
  border-top: 1px solid $color-border;
  padding: 0 15px 44px;

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    max-width: 490px;

    @media (min-width: $breakpoint-main) {
      max-width: 870px;
    }
  }

  &__column {
    margin-top: 44px;
  }

  &__column:not(:last-child) {
    margin-right: 40px;
  }

  &__title {
    font-weight: 500;
  }

  &__item {
    margin-top: 20px;
  }
}
