@import "fonts";
@import "variables";
@import "bottons";
@import "header";
@import "description";
@import "reviwes";
@import "comments";
@import "card-book";
@import "hosted";
@import "footer";

html,
body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $main-color;
}

a {
  text-decoration: none;
  color: inherit;
  
  &:hover {
    color: $color-link;
  }
}

.grid-container {
  display: grid;
  justify-content: center;
  gap: 70px 80px;
  grid-template-columns: minmax(270px, 490px);
  margin: 39px 15px 75px;
}

@media (min-width: 1120px) {

  .grid-container {
    grid-template-columns: 490px 330px;
    grid-template-areas: "mid-one mid-three"
      "mid-two ."
      "mid-four .";
  }

  .description {
    grid-area: mid-one;
  }

  .reviews {
    grid-area: mid-two;
  }

  .card-book {
    grid-area: mid-three;
  }

  .hosted {
    grid-area: mid-four;
  }
}
